@import "mixins";
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");

body {
  background: #034b80;
  @include sitefont;
}
.customContainer {
  width: 90%;
  margin: 0 auto;
}
.flight {
  font-weight: 300;
}
.fbold {
  font-weight: 600;
}
.fwhite {
  color: $white;
}
.fblue {
  color: $blue;
}
//main styles

.dovidSolutions {
  padding: 60px 0px 25px 0;

  @include max($sm) {
    padding: 25px 0px;
  }
  .covidCol {
    position: relative;
    margin-bottom: 20px;
    figure {
      img {
        border-radius: 20px;
        width: 100%;
      }
    }
    article {
      position: absolute;
      top: 30px;
      left: 50px;
      width: 40%;

      @include max($lg) {
        width: 60%;
        left: 15px;
      }

      h3 {
        font-size: clamp(1.2rem, 2vw, 2rem);
        color: $black;
        @extend .fbold;
      }
      h5 {
        font-size: clamp(1rem, 1.5vw, 1.5rem);
        color: $black;
        @extend .fbold;
      }
    }
    a.bookNowLink {
      padding: 10px 35px;
      display: inline-block;
      border: 2px solid $green;
      @extend .fbold;
      text-decoration: none;
      color: $green;
      border-radius: 20px;
      font-size: $fsize + 5;
      @include transition;
      position: absolute;
      bottom: 50px;
      left: 50px;

      @include max($lg) {
        left: 15px;
        bottom: 15px;
        font-size: $fsize;
        padding: 5px 15px;
      }

      &:hover {
        background: $green;
        color: $white;
      }
    }
  }
}

.aboutCovid {
  background: #105486;
  padding: 50px 0;

  p {
    font-size: $fsize + 1;
    line-height: 30px;
  }
  .icon {
    width: 130px;
    height: 130px;
    background: #1d5d8d;
    border-radius: 50%;
    @include verticalcenter;

    .icomoon {
      font-size: $fsize * 3 + 5;
      color: $white;
    }
  }
  h6 {
    font-size: $fsize + 2;
    text-align: center;
    padding-top: 15px;
  }
}

.precautionCol {
  width: 80%;
  margin-bottom: 40px;
  img {
    border-radius: 50%;
    @include transition;

    &:hover {
      transform: scale(0.9);
    }
  }
}

.testsAvailable {
  padding: 50px 0 200px 0;

  .testColumn {
    background: $white;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .thumbtest {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
    article {
      .h3 {
        color: $black;
        padding-bottom: 5px;
        margin: 0;
      }
      a {
        font-size: $fsize + 5;
        color: $blue;
        text-decoration: none;
        @extend .fbold;
      }
    }

    .priceDiv {
      padding: 30px 0;
      align-items: center;

      .discount {
        display: inline-block;
        background: url(../img/yellowRibbon.svg) no-repeat 0 0;
        width: 186px;
        height: 45px;
        color: $black;
        font-size: $fsize + 5;
        padding-left: 25px;
        line-height: 45px;
        @extend .fbold;
        margin-left: -25px;
      }
      .offerPrice {
        color: $black;
        @include max($md) {
          text-align: right;
        }
        .offerfinal {
          font-size: $fsize * 3;
        }
        .oldPrice {
          font-size: $fsize * 2;
          position: relative;
          top: -5px;

          &:before {
            content: "";
            width: 110%;
            height: 2px;
            background: red;
            position: absolute;
            top: 20px;
            left: -10px;
            text-align: center;
            transform: rotate(-15deg);
          }
        }
      }
    }
    .h5 {
      text-decoration: none;
      @extend .fbold;
    }
  }
}

.testParent {
  display: flex;
  flex-direction: row;
}
.titleDesc {
  flex-grow: 1;
  align-items: center;
}
