@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");
body {
  background: #034b80;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

.customContainer {
  width: 90%;
  margin: 0 auto;
}

.flight {
  font-weight: 300;
}

.fbold, .dovidSolutions .covidCol article h3, .dovidSolutions .covidCol article h5, .dovidSolutions .covidCol a.bookNowLink, .testsAvailable .testColumn article a, .testsAvailable .testColumn .priceDiv .discount, .testsAvailable .testColumn .h5 {
  font-weight: 600;
}

.fwhite {
  color: #fff;
}

.fblue {
  color: #1c95ef;
}

.dovidSolutions {
  padding: 60px 0px 25px 0;
}

@media (max-width: 576px) {
  .dovidSolutions {
    padding: 25px 0px;
  }
}

.dovidSolutions .covidCol {
  position: relative;
  margin-bottom: 20px;
}

.dovidSolutions .covidCol figure img {
  border-radius: 20px;
  width: 100%;
}

.dovidSolutions .covidCol article {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 40%;
}

@media (max-width: 992px) {
  .dovidSolutions .covidCol article {
    width: 60%;
    left: 15px;
  }
}

.dovidSolutions .covidCol article h3 {
  font-size: clamp(1.2rem, 2vw, 2rem);
  color: #000;
}

.dovidSolutions .covidCol article h5 {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: #000;
}

.dovidSolutions .covidCol a.bookNowLink {
  padding: 10px 35px;
  display: inline-block;
  border: 2px solid #6fb744;
  text-decoration: none;
  color: #6fb744;
  border-radius: 20px;
  font-size: 20px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

@media (max-width: 992px) {
  .dovidSolutions .covidCol a.bookNowLink {
    left: 15px;
    bottom: 15px;
    font-size: 15px;
    padding: 5px 15px;
  }
}

.dovidSolutions .covidCol a.bookNowLink:hover {
  background: #6fb744;
  color: #fff;
}

.aboutCovid {
  background: #105486;
  padding: 50px 0;
}

.aboutCovid p {
  font-size: 16px;
  line-height: 30px;
}

.aboutCovid .icon {
  width: 130px;
  height: 130px;
  background: #1d5d8d;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutCovid .icon .icomoon {
  font-size: 50px;
  color: #fff;
}

.aboutCovid h6 {
  font-size: 17px;
  text-align: center;
  padding-top: 15px;
}

.precautionCol {
  width: 80%;
  margin-bottom: 40px;
}

.precautionCol img {
  border-radius: 50%;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.precautionCol img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.testsAvailable {
  padding: 50px 0 200px 0;
}

.testsAvailable .testColumn {
  background: #fff;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.testsAvailable .testColumn .thumbtest {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testsAvailable .testColumn article .h3 {
  color: #000;
  padding-bottom: 5px;
  margin: 0;
}

.testsAvailable .testColumn article a {
  font-size: 20px;
  color: #1c95ef;
  text-decoration: none;
}

.testsAvailable .testColumn .priceDiv {
  padding: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testsAvailable .testColumn .priceDiv .discount {
  display: inline-block;
  background: url(../img/yellowRibbon.svg) no-repeat 0 0;
  width: 186px;
  height: 45px;
  color: #000;
  font-size: 20px;
  padding-left: 25px;
  line-height: 45px;
  margin-left: -25px;
}

.testsAvailable .testColumn .priceDiv .offerPrice {
  color: #000;
}

@media (max-width: 768px) {
  .testsAvailable .testColumn .priceDiv .offerPrice {
    text-align: right;
  }
}

.testsAvailable .testColumn .priceDiv .offerPrice .offerfinal {
  font-size: 45px;
}

.testsAvailable .testColumn .priceDiv .offerPrice .oldPrice {
  font-size: 30px;
  position: relative;
  top: -5px;
}

.testsAvailable .testColumn .priceDiv .offerPrice .oldPrice:before {
  content: "";
  width: 110%;
  height: 2px;
  background: red;
  position: absolute;
  top: 20px;
  left: -10px;
  text-align: center;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.testsAvailable .testColumn .h5 {
  text-decoration: none;
}

.testParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.titleDesc {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */